{% extends 'base.html' %}

{% block content %}

<!--    <div class="home-container">
    </div> -->
    <!-- Home page hero carousel -->
<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
        <li data-target="#home-page-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-4" class="d-block w-100 carousel-image"></div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="home-page-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="home-page-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<h4 class="text-center mt-3">Register today and we will keep you up to date with LIONS 2021.</h4>                       



{% endblock %}