{% extends 'base.html' %}

{% block content %}
    
    <div class="my-5 ml-3">
        <div>
            <h2> The Latest on Tickets.....</h2>
        </div>
        <div class="div-padding">
            <p>In these extraordinary times we hope everyone in the Lions family is safe and well. </p>
            <p> As the spring begins to drift into summer and the sunshine emerges, we are all hopeful we can look forward to a brighter future – in life and rugby.</p>
            <p> We wanted to update you with news on the Tour to South Africa. We delayed the launch of our ticket-inclusive packages until later in the summer after consultation and advice from SA Rugby and the Lions. We will of course notify you when we go on sale later this year.</p>    
            <p> You are in the best possible place to be part of the Tour officially and we want to reassure you there are no tickets available anywhere yet, so you are not missing out! As SA Rugby President Mark Alexander told us:</p>
            <p> If you have not already then register <a href="{% url 'register' %}">here</a> to be kept informed on all future developments. </p>
        </div>
        <div class="tickets-container d-none d-lg-block"> </div>
    </div>
    
    
    

{% endblock %}