{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row cards">
    {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 item-card-padding">
                        <a href="{{ product.get_absolute_url }}">
                            
                            <div class="card">
                                
                                <div class="item-img-wrapper">
                                    <div class="item-img d-flex justify-content-end"
                                        style="background-image: url('{{ MEDIA_URL }}{{ product.product_image1 }}')">
                                    </div>
                                </div>
                                <div class="card-body">
                                <h5 class="card-title product-name"><a href="#"  class="title-product-link">{{ product.title }}</a></h5>
                                <p class="text-align-center">£ {{ product.price }}</p>
                            </div>
                            </div>
                        </a>
            </div> 
    {% endfor %}
</div>
</div>
      
{% endblock %}