body {
    background-color:#f8461a;
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/*----------JUMBOTRON---------*/

.jumbotron {
    background-color:transparent;
}

.jumbotron-header {
    text-align: center;
    color:  #4a93e2;
    font-weight: bold;
}

.jumbotron-text {
    color: #4a93e2;
    font-weight: bold;
}


/*----------CONTAINERS---------*/

.home-container {
    height:100vh;
    background-image: url('../images/landing-page.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgba(0,0,0,0.5);
}

.content-container {
    padding-top:75px;
    padding-bottom:75px;
}