{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% load bootstrap_tags %}

{% block head_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js%}

{% block content %}

<div class="row">
            <div class="col-75">
                <div class="container container-wrapper my-5">

                    <form method="post" id="payment-form" action="{% url 'checkout' %}">
                        <div class="row">
                            <div class="col-50">
                        
                                <h5>Billing Details</h5>

                                <div id="credit-card-errors" style="display: none;">
                                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                                </div>

                                <div class="form-group">
                                    {{ order_form | crispy }}
                                </div>
                            </div>

                            <div class="col-50">                
                                <h5>Payment Details</h5>
                                <div class="form-group">
                                    {{ payment_form | crispy }}
                                </div>

                            {% csrf_token %}
                        
                            </div>
                            <div class="form-group">
                                <input class="btn btn-dark" id="submit_payment_btn" name="commit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-25">
                <div class="container container-wrapper my-5">
                    <p class="text-align-center"><i class="fa fa-shopping-cart"></i></p>
                    {% for item in cart_items %}
                        <p>{{ item.quantity }} {{ item.product.description }} <span class="price">£ {{item.product.price}}</span></p>
                    {% endfor %}
                    <p>Total: <span class="price">£ {{ total }}</span></p>
                <div>       
            </div>
        </div>
    </div>
</div>
{% endblock %}