{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-5">
      <div class="py-5 text-center">
        <h3>Your Shopping Cart</h3>
      </div>


    <table class="table">
    <thead class="thead-dark">
        <tr>
        
          <th scope="col">Item</th>
          <th scope="col"></th>
          <th scope="col">Price</th>
          <th scope="col">Qty Added</th>
          <th scope="col">Change Qty</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}  
            <tr>
                  <td><img src="{{MEDIA_URL}}{{item.product.product_image1}}" class="product-image" alt="{{product.name}}" style="width: 3em;" /></td>
                  <td>{{ item.product.title }}</td>
                  <td>£{{ item.product.price }}</td>
                  <td> {{ item.quantity }} </td>
                  <td><form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="input-cart" name="quantity" type="number" min="0" max="999" value="{{item.quantity}}" >
                                    <button type="submit" class="btn btn-dark btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                                </div>
                            </div>
                    </form></td>
                    <td> <a href="{% url 'delete_item_in_cart' item.id %}" role="button"><i class="far fa-times-circle icon-red" title="Delete {{ item.product.title }} from cart"></i></a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="p-3 mb-2 text-dark justify-content-end checkout-right">
        <p>Shipping and Tax included. </p>
        <p class="price">Total: <strong>£{{ total }} </strong></p>
        <br>
        <br>
       <p> <a href="{% url 'checkout' %}" class="btn btn-dark" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a></p>
       <p>  <a href="{% url 'product-list-all' %}" class="btn btn-light" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Continue</a></p>
      
    </div>
</div>                         
{% endblock %}