{% extends 'base.html' %}

{% block content %}
    
    <div class="container-padding my-5 ml-5 mr-5 contact-form-wrapper">
        <div class="row">
            <div class="col-12">
                <h1> LIONS Tour 2021 Competition.</h1>
                <hr>
            </div>
            <div class="col-12 col-md-3" >
                <p> Think you know your rugby? <br>
                    Get involved with Predicting the scores for ALL 8 Lions matches against SOUTH AFRICA and win some fantastic prizes.<br>
                    <strong>ENTER </strong> <a href="{% url 'competition' %}">here</a> (You need to be Logged in).<br>
                    Please see the competition Terms and Conditions <a href="{% url 'competition-terms' %}">here</a>.
                </p>

                <p> <strong>You need to make 3 predictions per match: </strong> <br>
                    1.Home team score in points<br>
                    2.Away team score in points<br>
                    3.First team scoring points <br>
                </p>

                <p> <strong>The point allocation are as follows: </strong><br>
                    3   - Correct Result<br>
                    10  - Correct Score<br>
                    5   - Within 5 points per team<br>
                    3   - Within 10 points per team<br>
                    1   - Within 20 points per team<br>
                    3   - Correct 1st points (try)<br>
                    1   - Correct 1st points (penalty)<br>
                    8   - Correct 1st points (drop goal)<br>    
                </p>
        </div>
        <div class="col-12 col-md-9 mb-3">
           <div class="rules-container d-none d-md-block d-lg-block"></div>
        </div>
    </div>



{% endblock %}