{% extends 'base.html' %}

{% block content %}

<h1> Score predictions</h1>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2 class="account-heading">{{ user.username }}</h2>
            <!-- Contact form wrapper with solid white background to make form stand out -->
            <div class="contact-form-wrapper my-5">
     
                <form method = 'POST'>
                    {% csrf_token %}
                    <div class="match-inner-wrapper">
                        <h5> Match 1 - DHL STORMERS </h5> 
                        <h6>SATURDAY 3 JULY | CAPE TOWN STADIUM | CAPE TOWN </h6>   
                        <div> Home {{ form.sascore1}}  Lions {{ form.lionsscore1}}</div> 
                    
                    </div>
                    <hr>
                    <div class="match-inner-wrapper">
                        <h5> Match 2 - SOUTH AFRICAN INVITATIONAL </h5> 
                        <h6>WEDNESDAY 7 JULY | NBM STADIUM | PORT ELIZABETH </h6>   
                        <div> Home {{ form.sascore2}}  Lions {{ form.lionsscore2}}</div> 
                
                    </div>
                    <hr>
                    <div class="match-inner-wrapper">
                        <h5> Match 3 - CELL C SHARKS </h5> 
                        <h6>SATURDAY 10 JULY | JONNSON KINGS PARK | DURBAN</h6>   
                        <div> Home {{ form.sascore3}}  Lions {{ form.lionsscore3}}</div> 
                
                    </div>
                    <hr> 
                    <div class="match-inner-wrapper">
                        <h5> Match 4 - SOUTH AFRICAN 'A' </h5> 
                        <h6>WEDNESDAY 14 JULY | MBOMBELA STADIUM | NELSPRUIT</h6>   
                        <div> Home {{ form.sascore4}}  Lions {{ form.lionsscore4}}</div> 
                
                    </div>
                    <hr> 
                    <div class="match-inner-wrapper">
                        <h5> Match 5 - VODACOM BULLS </h5> 
                        <h6>SATURDAY 17 JULY | LOFTUS VERSFELD | PRETORIA</h6>   
                        <div> Home {{ form.sascore5}}  Lions {{ form.lionsscore5}}</div> 
                
                    </div>
                    <hr> 
                    <div class="match-inner-wrapper">
                        <h5> Match 6 - SPRINGBOKS </h5> 
                        <h6>SATURDAY 24 JULY | FNB NATIONAL STADIUM | JOHANNESBURG</h6>   
                        <div> Home {{ form.sascore6}}  Lions {{ form.lionsscore6}}</div> 
                
                    </div>
                    <hr> 
                    <div class="match-inner-wrapper">
                        <h5> SPRINGBOKS </h5> 
                        <h6>SATURDAY 31 JULY | CAPE TOWN STADIUM | CAPE TOWN</h6>   
                        <div> Home {{ form.sascore7}}  Lions {{ form.lionsscore7}}</div> 
                
                    </div>
                    <hr> 
                    <div class="match-inner-wrapper">
                        <h5> Match 8 - SPRINGBOKS </h5> 
                        <h6>SATURDAY 7 AUGUST | EMIRATES AIRLINE PARK | JOHANNESBURG</h6>   
                        <div> Home {{ form.sascore8}}  Lions {{ form.lionsscore8}}</div> 
                
                    </div>
                    <hr> 
                    <div>
                    <input class="btn btn-primary" type="submit" value ="save">
                    </div>
                </form>

        </div>
      </div>
      
   
    </div>
     
      
       

{% endblock content %}


