{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container my-5">
    <h1> Score predictions</h1>
    <div>  
        {% if points > 0 %}
        <p> You have accrued {{points}} points!</p>
        {% else %}
        <p>You have accrued 0 points or have not entered yet!</p>
        {% endif %}
    </div>

    <div class="row no-gutters">
        <div class="col-8">
            <!-- Contact form wrapper with solid white background to make form stand out -->
            <div>
     
                <form method = 'POST'>
                    {% csrf_token %}

                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day"> Saturday </span> 3 July - DHL STORMERS </h5> 
                        <h6> CAPE TOWN STADIUM | CAPE TOWN </h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore1|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints1|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                  
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day">Wednesday </span> 7 July - SOUTH AFRICAN INVITATIONAL </h5> 
                        <h6> NBM STADIUM | PORT ELIZABETH </h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore2|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore2|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints2|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day">Saturday </span> 10 July - CELL C SHARKS </h5> 
                        <h6> JONNSON KINGS PARK | DURBAN</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore3|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore3|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints3|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day"> Wednesday </span> 14 July - SOUTH AFRICAN 'A' </h5> 
                        <h6> MBOMBELA STADIUM | NELSPRUIT</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore4|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore4|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints4|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day"> Saturday </span> 17 July - VODACOM BULLS </h5> 
                        <h6> LOFTUS VERSFELD | PRETORIA</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore5|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore5|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints5|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day"> Saturday <span> 24 July - SPRINGBOKS </h5> 
                        <h6> FNB NATIONAL STADIUM | JOHANNESBURG</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore6|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore6|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints6|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day">Saturday </span> 31 July - SPRINGBOKS </h5> 
                        <h6> CAPE TOWN STADIUM | CAPE TOWN</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore7|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore7|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints7|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div id="match-inner-wrapper">
                        <h5> <span class="match-day">Saturday </span> 7 August - SPRINGBOKS </h5> 
                        <h6> EMIRATES AIRLINE PARK | JOHANNESBURG</h6>   
                        <div class="form-row">
                            <div class="form-group col-md-2 mb-0"> 
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.sascore8|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ form.lionsscore8|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.firstpoints8|as_crispy_field }}
                            </div>
                        </div>        
                    </div>
                    <div>
                    <input class="btn btn-info btn-block" type="submit" value ="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span class="match-day"> Competition Statistics</span>
            </div>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span> Leader        :</span>
            </div>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span> Your position :</span>
            </div>
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span> Total entries :</span>
            </div>
            <div style="text-align:center;">
                <button><a href="{% url 'competition-rules' %}" class="blue-link">Rules</a></button>
            </div>
        
        </div>
    </div>
</div> 

        
      
       

{% endblock content %}


