{% extends 'base.html' %}

{% block content %}

<div class="my-5">
    <h1> "Terms and Conditions" </h1>
</div>
<div class="col-md-9 offset-md-1">
<p>These Terms and Conditions shall govern your participation in the Score Predictor Competition at <a href="http://www.lions2021sa.com"></a>, and your eligibility to be selected for the winner’s prize.</p>
<p><strong>Notice regarding personal data</strong>: By entering this Competition, you agree to us contacting you in the event that you are selected as a winner of the Competition to discuss the award to you of a winner’s prize. We shall process all personal data it collects from you in accordance with its privacy policy. The personal data which you provide in connection with this Competition shall not be used for any purpose which is incompatible with the purposes of facilitating your entry into this Competition and providing you with the opportunity to win the prizes, unless that purpose is discussed with you in advance.</p>
<p>Acceptance of the rules is a condition of entry and entry instructions form part of the rules.</p>
<p>Prior to the awarding of prizes, the winners shall be required to confirm acceptance of these terms and conditions.</p>
<p><br /><strong>1. Entrants: </strong>The Competition is open to all ages, although if the winner of the Competition is aged 16 or under, the consent of their parent or guardian will be required before the winner can go forward to receive the winner’s prize.  Employees of the Promoter, their agents, third parties, and any person professionally connected with this promotion and their immediate families shall be eliminated from the Competition at the prize awarding stage.</p>
<p><strong>2. Purchase Requirements:</strong> No Purchase Necessary.</p>
<p><strong>3. How to enter:</strong></p>
<p><br />To enter the Competition: </p>
<ul>
<li>You must choose your predicted outcome from each match (e.g. points for both teams and how the 1st points will be scored and submit your selection;</li>
</ul>
<ul>
<li>All competition entry forms must be submitted before the start of te 1st match and you can update your predictions at anytime before it closes.</li>
</ul>
<ul>
<li>In order to enter the competition, you must register a user account. Your user account personal information will be processed in accordance with its privacy policy</li>
<li>Points will be awarded based on the performance of your predicted outcome against the actual match outcomes;</li>
<li>If you correctly predict all of the relevant games (or, at the Promoter’s discretion, predict more games correctly than any other entrant), your entry will be deemed a “qualifying entry” and will go forward to the winner selection draw. </li>
</ul>
<p> </p>
<p><strong>4. Winner Selection:</strong> The winner of the Competition shall be the player with the most amount of points earned by their match outcome predictions. estimation of the time and resources required to implement the Change. At the Promotor’s discretion, prizes may be offered to 2nd, 3rd or lower ranking places in the overall Competitions and winners may be selected from sub-categories such as fans of a particular participating team. In the event that there is a tie in the number of points won between different entrants in any prize winner position, the selected winner will be the first entry selected at random from all tying entries. </p>
<p><strong>5. Winner Notification:</strong> The selected prize winners of the Competition (and any sub-categories of the Competition) shall be contacted by us once the winner selection process has concluded. Prize winners are required to confirm acceptance of these terms and conditions before the awarding of any prize.</p>
<p><strong>6. Disclosure of Winner Details to Promoter to receive prize:</strong> In order to be eligible to receive the winner’s prize for either competition, you will be asked to confirm that you consent to us sharing your contact details with the Promoter. If you do not agree to us sharing your details with the Promoter, you will not be able to receive the winner’s prize and the Promoter may either, at its discretion, (a) request us to select an alternative winner of the Competition or (b) conclude the Competition without awarding any prize.</p>
<p><strong>7. Nature of Prize:</strong> Each winner’s prize shall be as determined by the Promoter. There is no cash or other alternative to these prizes in whole or in part. The winners drawn at random undertake to accept the prizes as proposed without the possibility of exchange, in particular for cash, other goods or services of any kind whatsoever or transfer of the benefit to a third person. Similarly, these lots may not be the subject of claims for compensation, in particular for sums due to the Promoter.</p>
<p><strong>Details of the prizes:</strong></p>
<ul>
<li> Overall ranking:
<ul>
<li>1st one = 1 TV with home cinema</li>
<li>2nd = 1 backpack + 1 signed Lion's jersey</li>
<li>3rd = 1 signed Lions rugby ball</li>
</ul>
</li>
</ul>

<p> </p>
<p><strong>8. Age of prize winner:</strong> The winner of any prize must provide proof of age. If any prize winner is aged 16 or under, we will require consent from a parent or guardian of such entrant to the disclosure of the entrant’s contact details with the Promoter. </p>
<p><strong>9. Negative Publicity:</strong> Winners shall not, in connection with their competition prizes, display or publicize any political slogans or homophobic language, images of a lewd or explicitly sexual nature, images containing logos of competitors and overt brand sponsorship or anything else deemed to be ambush marketing, content which is defamatory, obscene, illegal, vulgar, offensive or otherwise unsuitable or infringes others’ rights (including intellectual property rights). Each entrant agrees and acknowledges that any breach of this clause 10 shall cause significant damage and loss to the Promoter.</p>
<p><strong>10. Promoter’s Decision:</strong> The decision of the Promoter in all matters is final and binding and no correspondence shall be entered into.</p>
<p><strong>11. Third Parties:</strong> The Promoter is responsible for any third party acts or omissions.</p>
<p><strong>12. Industrial and Intellectual Property:</strong> The reproduction, representation or exploitation of all or part of the elements composing the game that are offered are strictly prohibited.</p>
<p> </p>
<p>All trademarks or product names mentioned are trademarks or registered product names of their respective owners.</p>
<p><strong>13. Responsibility for Promotion:</strong> This promotion is run by the Promoter. Accordingly the Promoter, subject always to clause 16 below, is responsible for the operation of and all matters and concerns relating to the promotion. </p>
<p>The Promoter cannot be held liable in the event of force majeure as defined by case law or fortuitous events beyond its control.</p>
<p>The Promoter cannot be held responsible for delays, losses, theft, damage to mail, lack of legibility of stamps due to postal services. Nor can it be held liable and no recourse may be brought against it in the event of events of force majeure (strikes, bad weather, etc.) which partially or totally deprive the participants of the opportunity to participate in the game and/or the winner(s) of the benefit of their prize(s).</p>
<p>The Promoter and its service providers and partners may under no circumstances be held liable for any incidents that may occur in the use of the prizes by beneficiaries or their guests once the winners have taken possession of them.</p>
<p>Similarly, the Promoter, as well as its service providers and partners, cannot be held liable for the loss or theft of prizes once the winners have taken possession of them. Any additional cost necessary to take possession of the prizes is the sole responsibility of the winners, without them being able to claim any compensation from the Promoter, or from the service providers or partners.</p>
<p><strong>14. Cancellation of Promotion:</strong> The Promoter reserves the right to cancel or amend this promotion due to events or circumstances arising beyond its control. </p>
<p><strong>15. Unlawful Entries: </strong>Entrants must not be resident in a jurisdiction in which participation breaches any applicable laws.  By entering, the entrant warrants that he or she is permitted by law in the relevant jurisdiction to do so.</p>
<p><strong>16. DISCLAIMER</strong>: THE PROMOTER NOR ANY OF THEIR RESPECTIVE AFFLIATES, EMPLOYEES, OFFICERS, DIRECTORS WILL BE LIABLE (TO THE EXTENT PERMITTED BY LAW) FOR ANY DIRECT, INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE ARISING OUT OF OUR ORGANISING OR HOLDING OF THIS COMPETITION OR AS A RESULT OF YOUR SUBMISSION OF ANY ENTRY FOR THIS COMPETITION  OR AS A RESULT OF THE FINAL DETERMINATION OF THE COMPETITION WINNERS, OR IF THE COMPETITION OR WINNER SELECTION PROCESS DO NOT RUN AS PLANNED. IF THE COMPETITION OR WINNER SELECTION PROCESS OR ANY PART OF THE SAME IS NOT CAPABLE OF RUNNING OR BEING COMPLETED AS PLANNED FOR ANY REASON, INCLUDING BUT NOT LIMITED TO REASONS OF INFECTION BY COMPUTER VIRUS, BUGS, TAMPERING, UNAUTHORISED INTERVENTION, TECHNICAL FAILURES OR ANY OTHER CAUSES BEYOND THE CONTROL OF RWCL, WE RESERVE THE RIGHT TO CANCEL, TERMINATE, MODIFY OR SUSPEND THIS COMPETITION AND/OR WINNER SELECTION PROCESS. </p>
<p><strong>17. Severance: </strong>If any of these terms are determined to be illegal, invalid or otherwise unenforceable then the remaining terms shall continue in full force and effect.</p>
<p><strong>18. Governing Law:</strong> These Terms and Conditions (and any non-contractual obligations arising out of them) shall be governed by and construed in accordance with the laws of England and Wales and the parties agree to submit to the exclusive jurisdiction of the Courts of England and Wales.</p>
<p> </p>
</div>

{% endblock %}